* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 65px auto 58px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1005px;
}

.logo {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;

    color: #89C5CC;

    text-decoration: none;
}

nav a {
    font-family: 'Mulish', sans-serif;
    font-weight: regular;
    font-size: 18px;

    color: #1F1534;

    text-decoration: none;
    transition: .3s;
}

nav a:hover {
    font-weight: bold;
}

nav a + a {
    margin-left: 48px;
}

.hero {
    margin: 0 auto 82.36px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 102px;
}

.hero h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: regular;
    font-size: 49px;
    line-height: 56px;

    color: #000000;
}

.hero span {
    font-weight: bold;

    color: #89C5CC;
}

.hero p {
    font-family: 'Open Sans', sans-serif;
    font-weight: regular;
    font-size: 14px;
    line-height: 28px;

    color: #7D7987;
}

.hero .button {
    font-family: 'DM Sans', sans-serif;
    font-weight: medium;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 179px;
    height: 56px;

    border-radius: 4px;

    color: #F9F9F9;
    
    text-decoration: none;

    background: #69B99D;
}

.left {
    width: 489px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

footer {
    text-align: center;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    font-weight: regular;
    font-size: 14;
    line-height: 28px;
}

footer a {
    text-decoration: none;
    color: #000000;
}

.balls {
    position: fixed;
    z-index: 1;
    right: 0;
}